/* 스크롤바 숨김 */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
.scrollbar-hide {
  -ms-overflow-style: none !important; /* IE & Edge */
  scrollbar-width: none !important; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
}
